@import "reset.scss";
@import "utils/fonts.scss";
@import "utils/container.scss";
@import "components/header.scss";
@import "components/logo.scss";
@import "components/footer.scss";
@import "components/social.scss";
@import "components/main.scss";
@import "components/block.scss";
@import "components/title.scss";
@import "components/slider.scss";
@import "components/subtitle.scss";
@import "components/grid.scss";
@import "components/text.scss";
@import "components/video.scss";
@import "components/flex.scss";
@import "components/map.scss";
@import "components/contacts.scss";
html {
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: $default-font;
}
