.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &--sb {
        justify-content: space-between;
    }
}
/* media goes here */
@media screen and (max-width: 768px) {
    .flex--sb {
        width: 100%;
        justify-content: center;
    }
}
