@import "../utils/variables.scss";
@import "../utils/templates.scss";

.header {
    flex: 0 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: $primary-color;
    @include size-wh(100%, 100px);
    box-shadow: -4px 2px 10px rgba(34, 60, 80, 0.2);
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    &__nav {
        margin-right: 10px;
        position: relative;
        &-burger {
            display: none;
            span {
                display: block;
                border-radius: 25px;
                @include size-wh(50px, 8px);
                background-color: $secondary-color;
                &:first-child {
                    margin-bottom: 7px;
                }
                &:last-child {
                    margin-top: 7px;
                }
            }
            &.active {
                span {
                    &:first-child {
                        transform: rotate(45deg) translateY(100%);
                    }
                    &:last-child {
                        transform: rotate(135deg) translateY(145%)
                            translateX(-2%);
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                }
            }
        }
        &-list {
            display: flex;
            &.active {
                position: fixed;
                display: block;
                top: 80px;
                left: 0;
                background: $primary-color;
                @include size-wh(100%, 100%);
                .header__nav-item {
                    padding: 15px;
                    width: 100%;
                    border-bottom: 1px solid $secondary-color;
                    margin-left: 0;
                }
                .header__nav-link {
                    font-size: 1.4em;
                }
            }
        }
        &-link {
            font-size: 1.2em;
            text-decoration: none;
            @extend %big_text;
            @extend %link_hover_underline;
        }
        &-item {
            margin-left: 20px;
        }
    }
}
/* media goes here */
@media screen and (max-width: 1024px) {
    .header {
        height: 80px;
        &__logo.logo {
            @include size-wh(70px, 70px);
        }
        &__nav-list {
            display: none;
        }
        &__nav-burger {
            display: block;
        }
    }
}
@media screen and (max-width: 576px) {
    .header {
        height: 70px;
        &__nav-list.active {
            top: 70px;
        }
        &__nav-burger {
            span {
                @include size-wh(50px, 6px);
                &:first-child {
                    margin-bottom: 6px;
                }
                &:last-child {
                    margin-top: 6px;
                }
            }
        }
        &__logo.logo {
            @include size-wh(60px, 60px);
        }
    }
}
