.main {
    padding-top: 100px;
    flex: 1 0 auto;
    &__container {
        padding: 0 10px 0 10px;
    }
}
/* media goes here */
@media screen and (max-width: 1024px) {
    .main {
        padding-top: 80px;
    }
}
