@import "../utils/variables.scss";
@import "../utils/templates.scss";
.social {
    a {
        color: $secondary-color;
        @extend %link_hover;
        font-size: 1.6em;
    }
}
/* media goes here */
@media screen and (max-width: 768px) {
    .social {
        font-size: 1.8em;
    }
}
